fastapi~=0.103.0
uvicorn
sqlalchemy~=2.0.34
alembic~=1.13.2
psycopg2-binary
sqlalchemy_schemadisplay
pydantic~=2.8.2
requests~=2.32.3
openai
python-dotenv
chromadb
langchain-chroma
langchain-community
langchain[all]
yandexcloud