sqlalchemy~=2.0.34
alembic~=1.13.2
psycopg2-binary
sqlalchemy_schemadisplay
pydantic~=2.8.2
requests~=2.32.3
python-dotenv
chromadb
langchain-chroma
langchain-community
langchain[all]
yandexcloud
aiogram == 3.12.0
python-dotenv == 1.0.1
loguru == 0.7.2
